@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
    color: #fff;
    background: url('http://www.gutowicz.pl/wp-content/uploads/2017/04/polisolokaty.jpg');
    background-size: cover;
}

a   {
    color: rgb(255, 198, 208);

} 
p   {
    color: rgb(255, 251, 244);
}

a   {
    font-size: 30px;
}
a   {
font-weight: bold;
}
h1 {
	font-family: 'Fredericka the Great', cursive;
}
p {
font-family: 'Krub', sans-serif;
}
