@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
    background-color: rgb(224, 157, 157);
}

a   {
    color: rgb(255, 198, 208);

} 
p   {
    color: rgb(255, 251, 244);
}

a   {
    font-size: 30px;
}
a   {
font-weight: bold;
}
h1 {
	font-family: 'Fredericka the Great', cursive;
}
