@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
    color: #fff;
    background: url('http://www.gutowicz.pl/wp-content/uploads/2017/04/polisolokaty.jpg' width="450px");
    background-size: cover;
}

a   {
    background-color: #000000;
    color: rgb(255, 198, 208);

} 
p   {
    color: #000000;
}

a   {
    font-size: 30px;
}
a   {
font-weight: bold;
}
h1 {
	font-family: 'Fredericka the Great', cursive;
}
p {
font-family: 'Krub', sans-serif;
}
/*
div {
	background-color: rgb(0, 255, 255);
}
*/
.kotak1 {
	background-color: blue;
	width: 450px;
	height: 850px;
}
.kotak2 {
	background-color: pink;
	width: 550px;
	height: 950px;
}

