@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
* {margin:0; padding:0;}
 
 nav {
     margin:auto;
     text-align: center;
     width: 100%;
     font-family: arial;
 } 
 nav ul {
     background:#004d00;
     padding: 0 20px;
     list-style: none;
     position: relative;
     display: inline-table;
     width: 100%;
 }
 nav ul li{
     float:left;
 }

 nav ul li:hover{
     background:#d68d9a;
 }

 nav ul li:hover a{
     color:#000;
 }

 nav ul li a{
     display: block;
     padding: 25px;
     color: #fff;
     text-decoration: none;

body {
    color: #000000;
    background: url('http://www.gutowicz.pl/wp-content/uploads/2017/04/polisolokaty.jpg' width="450px");
    background-size: cover;
}

a   {
    background-color: #000000;
    color: rgb(255, 198, 208);

} 
p   {
    color: #000000;
}

a   {
    font-size: 30px;
}
a   {
font-weight: bold;
}
h1 {
	font-family: 'Fredericka the Great', cursive;
	color: #000000;
}
p {
font-family: 'Krub', sans-serif;
}
/*
div {
	background-color: rgb(0, 255, 255);
}
*/
.kotak1 {
	background-color: blue;
	width: 450px;
	height: 850px;
}
.kotak2 {
	background-color: pink;
	width: 550px;
	height: 950px;
}
/* layout */
	 
.header{
background-color: #FF1493;
width:100%;
height:50px;
text-align: center;
}

.sidebar1{
float:left;
width:180px;
background-color: #FFE4C4;
}

.main{
float:center;
width:70%;
background-color: #6495ED;
}

.sidebar2{
float:right;
width:200px;
background-color: #7FFF00;
}

.footer{
clear:both;
height: 50px;
width: 100%;
text-align: center;
background-color: #8FBC8F;
}

